

h1{
    text-align: center;
    color: red;
}

h3{
    text-align: center;
    color: purple;
}

body{
    width:100%;

    background-color: #ABACA5;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: fit-content;
}
